extends ../_component/layout/template

block cool-config
    -
        var myTitle = 'Learn to code HTML for beginners';
        var myDescription = 'Html is easy and fun to learn';
        var landingPage = 'HTML';
        var activeLink = 'HTML';

block awesome-content
    h1=myTitle
    p=myDescription
    h2 HTML Elements
    p An HTML element usually consists of a start tag and and end tag with the content inserted .t
    h2 HTML Attributes 
    p Attributes provide additional information about HTML elements 
    h2 HTML Headings
    p Headings are important in HTML documents.
    