extends ../_component/layout/template

block cool-config
    -
        var myTitle = 'Learn to code JavaScript for beginners';
        var myDescription = 'JavaScript is a bit more complicated but still fun ...';
        var landingPage = 'JavaScript';
        var activeLink = '';

block awesome-content
    h1=myTitle
    p=myDescription
    h2 JavaScript Comments
    p JavaScript comments can be used to explain JavaScript code, and to make it more readable.
    p JavaScript comments can also to prevent execution, when testing alternative code.
    h2 JavaScript Variables
    p JavaScript variables are containers for storing data values.
    h2 JavaScript Operators
    p With JavaScript Operators can perform aritmetic on numbers, assign values, concater etc...