extends ../../_component/layout/template

block cool-config
    -
        var myTitle = 'Learn to code HTML Attributes for beginners';
        var myDescription = 'Attributes provide additional information about HTML';
        var landingPage = 'HTML';
        var activeLink = 'html/attributes';

block awesome-content
    h1=myTitle
    p=myDescription
    h2 Example of html attributes

    p(title="This is a tooltip :D") This paragraph has a tooltip.
    a(href="https://www.youtube.com/watch?v=UfHWm6xVQdI") Just for cackes.
    P The next image is a random image
    img(src="my-picture", width="200", height="120", alt="This text shows")