extends ../../_component/layout/template

block cool-config
    -
        var myTitle = 'Headings';
        var myDescription = 'Have fun with headings';
        var landingPage = 'HTML';
        var activeLink = 'html/headings';

block awesome-content
    h1=myTitle
    p=myDescription
   


   
    
    h1 This is a cool heading and it gets smaller and smaller 1.
    h2 This is a cool heading and it gets smaller and smaller 2.
    h3 This is a cool heading and it gets smaller and smaller 3.
    h4 This is just am example, and it gets smaller and smaller 4.
    h5 This is a cool heading and it gets smaller and smaller 5.
    h6 This is a cool heading and it gets smaller and smaller 6.
    h7 This is a cool heading and it gets smaller and smaller 7.