extends _component/layout/template

block cool-config
    -
        var myTitle = 'Learn to code HTML, CSS and JavaScript';
        var myDescription = 'This is a HTML replica of W3schools';
        var landingPage = 'Home';
        var activeLink = 'HTML';

block awesome-content
    h1 This is a replica of w3schools 
    p i'll go trough all possible HTML elements as well CSS and JavaScript.
    h1 HTML
    p The language of web developing #[a(href="html") Check it out!]
    h1 CSS
    p The language for styling web pages #[a(href="/css") See updates happening!]
    h1 JavaScript
    p The language for programming the web pages. #[a(href="/javascript") Discover programming the web!]
